* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background-color: pink;
}

div {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

div #contactPage {
  background-color: black;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 400;
  color: blue;
}
