* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden; /* Hide scrollbar */
}

main, div {
  width: 100vw;
  height: 100vh;
}

main::before {
  content: EXCEEL EX EX EXE TEXTE;
  color: whitesmoke;
}

div {
  width: 100vw;
  height: 100vh;
}

#knowledgePage {
  background-color: aqua;
}

#projectsPage {
  background-color: gold;
}

#contactPage {
  background-color: tomato;
}

h1 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
}

p {
  font-weight: 400;
  color: whitesmoke;
  margin: 0;
  font-size: 3em;
  text-align: center;
}
