* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

div {
  width: 100vw;
  height: 100vh;
}

#knowledgePage {
  background-color: aqua;
  position: relative;
  right: 100vw;
  top: 0vh;
}

#projectsPage {
  background-color: gold;
  position: relative;
  right: 0vw;
  top: 100vh;
}

#contactPage {
  background-color: tomato;
  position: relative;
  right: 100vw;
  top: 100vh;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 400;
  color: whitesmoke;
  margin: 0;
}
